apiVersion: apps/v1
kind: Deployment
metadata:
  name: chatgpt-ui
  namespace: chatgpt-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chatgpt-ui
  template:
    metadata:
      labels:
        app: chatgpt-ui
    spec:
      containers:
      - name: chatgpt-ui
        image: dhanush08/ui:latest
        ports:
        - containerPort: 8080
